.custom-select {
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    border-radius: 10px !important;
    box-sizing: border-box;
}

.form-group {
    width: 100%;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.input-form {
    width: 100% !important;
    height: 45px;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 10px;
}

.custom-date-input {
    width: 100% !important;
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----------------------------------------------/*/
/*input color focus*/
.input-pink {
    color: black;
    background-color: var(--pink);
}

.input-black {
    color: var(--white-bone);
    background-color: var(--light-black);
}

.input-white {
    color: black;
    background-color: var(--white-bone);
}

.input-gray {
    color: black;
    background-color: var(--gray-pearl);
}