.home {
   margin: 0 auto;
   padding: 0;
   width: 100%;
   box-sizing: border-box;
}

.header-home,
.description-main,
.services-main,
.collageworks,
.courses-section-home,
.review {
   min-height: 100vh;
   width: 100%;
   margin-top: -10px;

}

.services-main {
   display: grid;
   place-items: center;
}



.coursesSectionHome h1 {
   padding: 100px 0px 10px 30px;
   margin-bottom: 30px;
}

.coursesSection-home h2 {
   padding: 0px 0px 10px 30px;

}

.courses-section-homeContent {
   position: relative;
   min-height: 60vh;
   color: antiquewhite;
}

.courses-section-homeContent img {
   position: absolute;
   width: 100%;
   height: 100%;
}

.courses-sectionHome-content h2 {
   position: relative;
   z-index: 2;
}

.courses-section-home-content button {
   position: absolute;
   z-index: 2;
}

.courses-section-home-content button {
   bottom: 10px;
   width: 100%;
   height: 50px;
}


@media screen and (min-width: 760px) {}