.home {
   margin: 0 auto;
   padding: 0;
   width: 100%;
   box-sizing: border-box;
}

.header-home,
.description-main,
.services-main,
.collageworks,
.courses-section-home,
.review {
   min-height: 100vh;
   width: 100%;
   margin-top: -10px;

}

.services-main {
   display: grid;
   place-items: center;
}

.header-home {
   text-align: center;
   margin-bottom: 80px;
   width: 100%;
   background: linear-gradient(0deg,
         rgba(53, 53, 53, 0.5) 0%,
         rgba(77, 77, 77, 0.5) 100%),
      url("../src/assets/headerImg.png"),
      center center no-repeat;
   background-size: cover;
   border-bottom-right-radius: 25%;
   border-bottom-left-radius: 25%;
}

.custom-title-bg {
   position: absolute;
   height: 3.5rem;
   top: -35px;
   left: -20px;

}

.title-block-color-1,
.title-block-color-2 {
   position: absolute;
   width: 70%;
   height: 80%;
}

.title-block-color-1 {
   top: -10px;
   right: -30px;
   z-index: 2;
   background-color: var(--deep-pink);
}

.title-block-color-2 {
   position: absolute;
   width: 70%;
   height: 80%;
   bottom: -10px;
   left: -30px;
   z-index: 1;
   background-color: var(--pink);
}

.title-description-home {
   margin: 0;
}

.description-text h1 {
   position: relative;
   z-index: 2;
   font-size: 50px !important;
   letter-spacing: 2px;
}

.description-text h2 {
   text-decoration: underline;
   text-decoration-thickness: 3px;
   text-decoration-color: var(--deep-pink);
   text-decoration-style: wavy;
}

.list-header {

   color: var(--light-black);
   height: 60px;
   width: 100%;
   padding: 80px 0px 20px 0px;
   position: relative;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style-type: none;
   gap: 20px;
   list-style: none;
   box-shadow: 2px 2px 10px rgba(65, 65, 65, 0.767);
}

.item-header {
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   text-align: center;
}

.header-content {
   position: relative;
   z-index: 10;
   margin-top: 50px;
   width: 90%;
   padding: 10px 0px 20px 30px;

}

.item-header {
   display: flex;
}

.description-main {
   padding-top: 50px;
   padding-bottom: 10vh;
   margin-bottom: 50px;
}

.description-text {
   position: relative;
   margin: auto;
   border-radius: 10px;
   box-sizing: border-box;
   text-align: left !important;
   width: 70vw;
   min-height: 65vh;
   margin-top: 50px;
   padding: 30px;
   padding-top: 80px;

}

.coursesSectionHome h1 {
   padding: 100px 0px 10px 30px;
   margin-bottom: 30px;
}

.coursesSection-home h2 {
   padding: 0px 0px 10px 30px;

}

.courses-section-homeContent {
   position: relative;
   min-height: 60vh;
   color: antiquewhite;
}

.courses-section-homeContent img {
   position: absolute;
   width: 100%;
   height: 100%;
}

.courses-sectionHome-content h2 {
   position: relative;
   z-index: 2;
}

.courses-section-home-content button {
   position: absolute;
   z-index: 2;
}

.courses-section-home-content button {
   bottom: 10px;
   width: 100%;
   height: 50px;
}


@media screen and (min-width: 760px) {}