.createAccountBg {
    margin-top: 150px;
    margin-left: 50px;
    width: 80vw;
    min-height: 60vh;
    padding: 30px;
}

.createAccountContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.createAccount {
    width: 100%;
    height: 500%;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-100% * var(--step)));
}

.createAccount>* {
    display: block;
    margin: 0;
    width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    border: black solid 2px;
}

.createAccount>* .inputText,
.createAccount>* select,
.createAccount>* .passwordCheck {
    width: 90%;
    margin: auto;
}

.createAccount>* label {
    margin-left: 10%;
}

.createAccount>* .labelPasswordCheck {
    margin-left: 5px;
}