.createAccountContainer {
    width: 80vw;
    height: 70vh;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;

    padding: 10px;
    border: 2px solid black;
}

.animatedStep>div {
    width: 70%;
    height: 100%;
    /* â† Fijo para todos los pasos */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.animatedStep>div>div {
    width: 100%;
}

.buttonContainer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.buttonContainer>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}