.dashboard {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.dashboard-header {
    padding: 90px 20px 20px 20px;
}

.dashboard-header h1 {
    margin: 0;
}

.dashboard-main {
    padding: 10px;
    align-items: center;
}

.admin-name {
    color: var(--pink);
    margin-bottom: 20px !important;
}

.table-header {
    padding: 5px 5px 5px 20px;
}

.dashboard-form {
    width: 300px;
    height: 45px;
    padding: 0;
    margin-top: 10px;

}

.dashboard-form>.custom-select {
    width: 200px !important;
    margin: 0 !important;
}

.dashboard-table {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: auto !important;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.719);
}

.form-table {
    display: flex;
}

.table-container {
    padding: 20px;
    border-radius: 20px;
    border: 10px solid black;
}




.table-custom {
    background-color: var(--pink);
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    letter-spacing: 2PX;
    padding: 5px;
    transition: .6s all ease;


}

/*bt tabla*/


/* Encabezado */
.table-custom thead {
    background-color: var(--light-black);
    color: var(--white-bone);
    font-weight: bold;
}

/* Celdas (todas) */
.table-custom th,
.table-custom td {
    border: 1px solid var(--white-bone);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.table-custom tr {
    transition: background-color 0.3s ease;
}

.table-custom thead th {
    padding: 15px;
}

/* Hover de filas */
.table-custom tbody tr:hover {
    background-color: var(--gray-pearl);
}